PORT=3000
YTDLP_COOKIES_FROM_BROWSER=chrome
# YTDLP_COOKIES_FILE=/ruta/absoluta/a/cookies.txt
# YTDLP_COOKIES_B64=...base64-del-cookie-file-netscape...
# YTDLP_EXTRACTOR_ARGS=youtube:player_client=android,web,ios